.container{
	.grid__row{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 2.5rem;
		align-items: center;
		.grid{
			&__col--12.theme__colors{
				@include grid--theme__colors($color-col-12);
			}
			&__col--8.theme__colors{
				@include grid--theme__colors($color-col-8);
			}
			&__col--7.theme__colors{
				@include grid--theme__colors($color-col-7);
			}
			&__col--6.theme__colors{
				@include grid--theme__colors($color-col-6);
			}
			&__col--5.theme__colors{
				@include grid--theme__colors($color-col-5);
			}
			&__col--4.theme__colors{
				@include grid--theme__colors($color-col-4);
			}
			&__col--3.theme__colors {
				@include grid--theme__colors($color-col-3);
			}
		}
	}
}

.grid{
	&__col--12,
	&__col--9,
	&__col--8,
	&__col--7,
	&__col--6,
	&__col--5,
	&__col--4,
	&__col--3 {
		width: 100%;
	}
}


@include desktop_view {
	.grid{
		&__row{
			@include flex-row(nowrap !important);
			&>* {
				margin: 0 0.45rem;
			}
		}
		&__col--12{
			width: calc-percent(12);
			@include flex-row(nowrap);
			&>*{
				margin: 0 1rem;
			}
		}
		&__col--9{
			width: calc-percent(9);
		}
		&__col--8{
			width: calc-percent(8);
		}
		&__col--7{
			width: calc-percent(7);
		}
		&__col--6{
			width: calc-percent(6);
		}
		&__col--5{
			width: calc-percent(5);
		}
		&__col--4{
			width: calc-percent(4);
		}
		&__col--3{
			width: calc-percent(3);		
		}
	}
	.card {
		padding: 0 2rem;
	}
}